/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

html, body {
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url(./images/libraries.jpg);
}


header{
    background: linear-gradient(lightblue, rgb(139, 205, 227), rgb(71, 156, 185),rgb(2, 67, 88));
    width: 60vw;
    height: auto;
    color: white;
}

main{
    background-color: grey;
    width: 60vw;
    height: 70vh;
    flex-grow: 1;

    
}

.container{
    display: grid;
    grid-template: 1fr 1fr/1fr 2fr;
    height: 100%;
    width: 100%;
}



/*BOOKADD*/

.bookAdd{
    border: 2px solid black;
    border-right: none;
    grid-area: 1/1/3/2;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookAdd div{
  width: 100%;
  /*border: 2px solid black;*/
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
}

.bookAdd input{
  width: 50%;
  margin-right: 5%;
}

.bookAdd div:last-child{
  display: flex;
  justify-content: center;
}


/*LIBRARYCARD*/

.libraryCard{
    border: 2px solid black;
    grid-area: 1/2/3/3;

    display: grid;
    grid-template: 15%/100%;

}

.namePlates{
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 20% 20% 20%;

    border-bottom: 2px solid black;


}

.namePlates p{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.namePlates p:nth-of-type(1), .namePlates p:nth-of-type(2), .namePlates p:nth-of-type(3){
  border-right: 2px solid black;
}


.bookInfo{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr;
  /*grid-template-columns: 1.5fr 1fr 1fr 1fr;*/
  /*Took out columns: just need rows, need to style 'cards*/

  /*This can probably stay for now, gives a template for the boxes*/
}

.bookList p{
  border-right: 2px solid white;
  display: flex;
  justify-content: flex-end;
  margin-right: 1vw;
}





/*FOOTER*/

footer{
    background-color: darkgrey;
    width: 60vw;
    height: auto;
    flex-grow: 1;
}
